$pink-color: #876AAF;
$transition-time: 0.5s;

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: black;

    .menu {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .item {
        font-size: 30px;

        a {
            color: white;
        }
    }
    .btn-burger {
        display: none;
        position: absolute;
        right: 9px;
        top: 35px;
    }
    a {
        text-decoration: none;
    }
    .btn-login {
        margin-left: auto;
        padding: 10px;
        border: none;
        border-radius: 50px;
        font-size: 28px;
        background: $pink-color;
        color: white;
        width: 100px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }
    @media screen and (max-width: 980px){
        .menu {
            width: 80%;
        }
    }
    @media screen and (max-width: 590px) {
        flex-direction: column;
        padding: 45px;
        
        .menu, .btn-login {
            display: none;
        }
        .btn-burger {
            display: block;
            margin-left: auto;
            font-size: 28px;
            background: none;
            border: none;
            color: white;
        }
        .menu.open, .btn-login.open {
            display: block;
            max-height: 500px;
            opacity: 1;
        }
        .btn-login {
            margin: auto;
        }
    }
}